<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8" />
    <title>Prefecture</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <script
        src="http://maps.google.com/maps/api/js?key={googlemap用のAPIキーを入れてください}&language=ja&callback=initMap"></script>
    <style>
        html {
            height: 100%
        }

        body {
            height: 100%
        }

        #map {
            height: 100%;
            width: 100%
        }
    </style>
</head>

<body>
    <div id="map"></div>

    <script>
        window.onload = function () {
            initMap();
        }

        let beaches;
        let prefecture_latlng;
        let zoom_level;
        var latlng = []; //緯度経度の値をセット
        var marker = []; //マーカーの位置情報をセット
        var markerData = [];
        var infoWindow = [];

        function initMap() {
            const data_from_db = {{data|tojson}}; 
            const id_from_geochart = {{id|tojson}};
            console.log(data_from_db)
            
            const prefecture_id = id_from_geochart.match(/\d+/g);

            for(let i=0; i<data_from_db.prefectures.length; i++){ //都道府県の各データを取得
                if(data_from_db.prefectures[i].prefecture_id==prefecture_id){
                    beaches = data_from_db.prefectures[i].beaches;
                    prefecture_latlng = data_from_db.prefectures[i].prefecture_latlng;
                    zoom_level = data_from_db.prefectures[i].zoom_ratio;
                }
            }

            for(let i=0; i<beaches.length; i++){
                data ={'name': beaches[i].name, lat: beaches[i].latlng[0], lng: beaches[i].latlng[1]}
                markerData.push(data);
            }
            console.log(markerData)

            var map = new google.maps.Map(document.getElementById('map')); //地図を作成
            
            for (var i = 0; i < markerData.length; i++) {
                markerLatLng = new google.maps.LatLng({lat: markerData[i]['lat'], lng: markerData[i]['lng']}); // 緯度経度のデータ作成
                marker[i] = new google.maps.Marker({ // マーカーの追加
                    position: markerLatLng, // マーカーを立てる位置を指定
                    map: map // マーカーを立てる地図を指定
                });
            
                infoWindow[i] = new google.maps.InfoWindow({ // 吹き出しの追加
                    content: '<div class="sample">' + beaches[i].name + '</div>' // 吹き出しに表示する内容
                });
                markerEvent(i); // マーカーにクリックイベントを追加
            }

            for(let i=0; i<beaches.length; i++){
                if(!beaches[i].is_open){
                    marker[i].setOptions({
                        icon: {
                            url: 'http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=X|6699cc|000000'// マーカーの画像を変更
                        }
                    });
                }
            }
            myLatLng = new google.maps.LatLng({lat: prefecture_latlng[0], lng: prefecture_latlng[1]}); // 中心地の緯度経度のデータ作成
            var opt = {
                center: myLatLng, // 地図の中心を指定
                zoom: zoom_level // 地図のズームを指定
            };
            map.setOptions(opt); //オプションをmapにセット
        };

        // マーカーにクリックイベントを追加
        function markerEvent(i) {
            marker[i].addListener('click', function() { // マーカーをクリックしたとき
                infoWindow[i].open(map, marker[i]); // 吹き出しの表示
            });
        }
    </script>
</body>

</html>